services:
    - App\ArticleModule\Presenters\AdminMenu\AdminMenuControl
    #	- {class: App\UserModule\Presenters\AdminMenu\AdminMenuControl, tags: [run]}
    AdminMenu:
        setup:
            - setItem(App\ArticleModule\Presenters\AdminMenu\AdminMenuControl)