
<div class="row">
	<div class="col-md-9">
		{foreach $articles as $article}
			{control article entity => $article}
		{/foreach}
	</div>
	<div class="col-md-3">
		{if $filterVisible}
		{control filter}
	{/if}

	{control sort}
	</div>
</div>

{if $paginatorVisible}
	<div class="row">
		<div class="col-md-12">
			{control paginator}
		</div>
	</div>
{/if}