
<div class="com-article-list">
	<ul class="list-group">
		{foreach $articles as $article}
			<li class="list-group-item">
				{control article $article}
			</li>
		{/foreach}
	</ul>
	
	{if $filterVisible}
		{control filter}
	{/if}

	{if $paginatorVisible}
		{control paginator}
	{/if}
</div>