<div class="form-group">
	<label n:name="sort">{label sort/}</label>
	<input class="form-control" n:name="sort">
</div>
	
<div class="form-group">
	<label n:name="order">{label order/}</label>
	<input class="form-control" n:name="order">
</div>