<div class="form-group">
	<label n:name="sort">{label sort/}</label>
	<select class="form-control" n:name="sort"></select>
</div>
	
<div class="form-group">
	<label n:name="order">{label order/}</label>
	<select class="form-control" n:name="order"></select>
</div>