{block content}

<div class="container page-blogs">
    <div class="row">
        <main class="col-sm-9 col-sm-push-3 content">
            {position articleDefault}
        </main>
        
        <aside class="col-sm-3 col-sm-pull-9 sidebar">
            {position articleDefaultLeft}
        </aside>
    </div>
</div>