services:
	PermissionObject:
		setup:
			- addResource('article')
			- addResourceAction('article', 'view')
			- allow('guest', 'article', 'view')
			- addResourceAction('article', 'add')
			- allow('moderator', 'article', 'add')
			- addResourceAction('article', 'edit')
			- allow('moderator', 'article', 'edit')
			- addResourceAction('article', 'delete')
			- allow('moderator', 'article', 'delete')

	# Forms
	ArticleForm:
		class: Wame\ArticleModule\Forms\ArticleForm

	# Entities
	- Wame\ArticleModule\Entities\ArticleEntity
	- Wame\ArticleModule\Entities\ArticleLangEntity

	# Repositories
	- Wame\ArticleModule\Repositories\ArticleRepository

	ArticleControl:
		class: Wame\ArticleModule\Controls\ArticleControl
		setup:
			- injectRepository

doctrine:
	metadata:
		Wame\ArticleModule\Entities: %appDir%/../vendor/wame/ArticleModule/entities
		Wame\ArticleModule\Repositories: %appDir%/../vendor/wame/ArticleModule/repositories
