services:
    PermissionObject:
        setup:
            - addResource('article')
            - addResourceAction('article', 'view')
            - allow('guest', 'article', 'view')
            - addResourceAction('article', 'add')
            - allow('moderator', 'article', 'add')
            - addResourceAction('article', 'edit')
            - allow('moderator', 'article', 'edit')
            - addResourceAction('article', 'delete')
            - allow('moderator', 'article', 'delete')

    # Repositories
    ArticleRepository:
        class: Wame\ArticleModule\Repositories\ArticleRepository
        inject: yes

    # Factories
    - Wame\ArticleModule\Components\IArticleControlFactory
    - Wame\ArticleModule\Components\IArticleListControlFactory
    - Wame\ArticleModule\Components\IArticleEmptyListControl

    # Events
    - {class: Wame\ArticleModule\Events\ArticleListFormListener, tags: [run]}

    # Commands
    createArticlesCommand:
        class: Wame\ArticleModule\Commands\CreateArticlesCommand
        tags: [kdyby.console.command]

doctrine:
    metadata:
        Wame\ArticleModule\Entities: %appDir%/../vendor/wame/ArticleModule/entities