services:
	# Factories
	- Wame\ArticleModule\Forms\ITitleFormContainerFactory
	- Wame\ArticleModule\Forms\IUrlFormContainerFactory
	- Wame\ArticleModule\Forms\IPublishedFormContainerFactory
	- Wame\ArticleModule\Forms\IStatusFormContainerFactory
	- Wame\ArticleModule\Forms\IDescriptionFormContainerFactory
	- Wame\ArticleModule\Forms\ITextFormContainerFactory
	- Wame\ArticleModule\Forms\ILimitFormContainerFactory
	- Wame\ArticleModule\Forms\ISortFormContainerFactory
	- Wame\ArticleModule\Forms\IPaginatorVisibilityFormContainerFactory
	- Wame\ArticleModule\Forms\IFilterVisibilityFormContainerFactory

	ArticleListForm:
		class: Wame\ArticleModule\Forms\ArticleListForm