Dump
{? dump($article)}
{*
<article>
    {position articleControlTop}
    
	<header>
		<h2><a href="{plink :Article:Article:show, $article->id}">{$article->title}</a></h2>
	</header>

	<div id="author">{_'author'}: {$article->createUser->fullName}</div>

	<p id="description">{$article->description}</p>
</article>
*}