<article>
    {position articleControlTop}
    
	<header>
		<h2><a href="{plink :Article:Article:show, $article->id}">{$article->title}</a></h2>
	</header>

	{if $article->createUser}<div id="author">{_'author'}: {$article->createUser->fullName}</div>{/if}

	<p id="description">{$article->description}</p>
    
</article>