<article>
    {position articleControlTop}
    
	<header>
		<h2><a href="{plink :Article:Article:show 'id' => $entity->slug ?: $entity->id}">{$entity->title}</a></h2>
	</header>

	{if $entity->createUser}<div id="author">{_'author'}: {$entity->createUser->fullName}</div>{/if}

	<p id="description">{$entity->description}</p>
    
</article>