<article>
    {position articleControlTop}
    
	<header>
		<h1>{$entity->title}</h1>
	</header>
    
    {block metaHeaderInfo}{/block}

	<p id="description">{$entity->description|noescape}</p>

	<div>
		{$entity->text|noescape}
	</div>
    
    {block metaFooterInfo}{/block}
	
    {position articleControlBottom}
</article>