<article>
    {position articleControlTop}
    
	<header>
		<h1>{$entity->title}</h1>
	</header>

	<div id="author">{_'author'}: {$entity->createUser->fullName}</div>

	<p id="description">{$entity->description}</p>

	<div>
		{$entity->text|noescape}
	</div>

	<footer>
		<p>{_'Published'}: {$entity->publishStartDate|date:'d.m.Y, H:i'}</p>
	</footer>
	
    {position articleControlBottom}
</article>