<article>
	<header>
		<h2><a href="{plink show, $article->id}">{$article->langs[$lang]->title}</a></h2>
	</header>

	<div id="author">{_'author'}: {$article->createUser->fullName}</div>

	<p id="description">{$article->langs[$lang]->description}</p>
</article>