<div class="pull-left">
{foreach $articles as $article}
	{control article $article}
{/foreach}
</div>

<div class="pull-right">
	{control filter}
</div>

<div class="clearfix"></div>

{control paginator}